@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 0 0% 98.8%;
    --background: 228 29.4% 3.3%;

    --primary-color: 82 111 255;
    --primary-hue: 230;
    --primary-color-hover: #6683ff;

    /* Axiom Shell Colors */
    --background-secondary: #101114;
    --background-tertiary: #18181a;

    --primary-stroke: #22242d;
    --secondary-stroke: #323542;
    --border-subtle: #1f1f23;

    --text-primary: #fcfcfc;
    --text-secondary: #c8c9d1;
    --text-tertiary: #777a8c;

    --increase: #2fe3ac;
    --decrease: #ec397a;
    --increase-hover: #5be7bd;
    --decrease-hover: #f8649a;

    --chart-up: #0b9981;
    --chart-down: #f23546;

    --primary-green: #12af80;
    --primary-yellow: #dcce3c;
    --primary-orange: #e27c4d;
    --primary-orange-hover: #ee9267;
    --primary-red: #f25461;
    --primary-light-blue: #52c5ff;

    /* Shadcn/UI Mappings */
    --card: 225 11.1% 7.1%;
    --card-foreground: 0 0% 98.8%;
    --popover: 225 11.1% 7.1%;
    --popover-foreground: 0 0% 98.8%;
    --primary: 229 100% 66.1%;
    --primary-foreground: 0 0% 98.8%;
    --secondary: 231 13.8% 22.7%;
    --secondary-foreground: 0 0% 98.8%;
    --muted: 240 4.2% 9.8%;
    --muted-foreground: 227 12% 51%;
    --accent: 231 13.8% 22.7%;
    --accent-foreground: 0 0% 98.8%;
    --destructive: 338 82.2% 57.5%;
    --destructive-foreground: 0 0% 98.8%;
    --border: 229 13.8% 15.5%;
    --input: 229 13.8% 15.5%;
    --ring: 229 100% 66.1%;
    --radius: 0.5rem;
    --up: 142 76% 36%;
    --down: 0 84% 60%;
  }

  .dark {
    --foreground: 0 0% 98.8%;
    --background: 228 29.4% 3.3%;
    --card: 225 11.1% 7.1%;
    --card-foreground: 0 0% 98.8%;
    --popover: 225 11.1% 7.1%;
    --popover-foreground: 0 0% 98.8%;
    --primary: 229 100% 66.1%;
    --primary-foreground: 0 0% 98.8%;
    --secondary: 231 13.8% 22.7%;
    --secondary-foreground: 0 0% 98.8%;
    --muted: 240 4.2% 9.8%;
    --muted-foreground: 227 12% 51%;
    --accent: 231 13.8% 22.7%;
    --accent-foreground: 0 0% 98.8%;
    --destructive: 338 82.2% 57.5%;
    --destructive-foreground: 0 0% 98.8%;
    --border: 229 13.8% 15.5%;
    --input: 229 13.8% 15.5%;
    --ring: 229 100% 66.1%;

    --primary-color: 82 111 255;

    --increase: #2fe3ac;
    --decrease: #ec397a;

    --primary-green: #12af80;
    --primary-yellow: #dcce3c;
    --primary-orange: #e27c4d;
    --primary-red: #f25461;
    --primary-light-blue: #52c5ff;

    --primary-stroke: #22242d;
    --secondary-stroke: #323542;
    --border-subtle: #1f1f23;

    --text-primary: #fcfcfc;
    --text-secondary: #c8c9d1;
    --text-tertiary: #777a8c;
    --up: 142 70% 50%;
    --down: 0 80% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}